li {
    outline: 1px solid var(--color-surface-secondary);
    border-radius: 4px;    
}

span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.active {
    outline: 1px solid var(--color-accent-primary);
    background-color: var(--color-surface-secondary);
}