input {
    width: 90%;
    height: 45px;
    padding: 0 30px 0 20px;
}

.contact-info {
    position: relative;
    display: grid;
    grid-template-rows: 600px 120px;
    grid-template-columns: 1fr 1fr;
}

.input-wrapper{
    position: relative;
    margin-bottom: 10px;
}

.clear-info {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 7%;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding: 0;
}

.form-info {
    grid-area: 1 / 1 / span 1 / span 2;
}

.form-submit {
    grid-area: 2 / 1 / span 1 / span 1;
}
  
.form-delete {
    grid-area: 2 / 2 / span 1 / span 1;  
}